/* 기본 세팅 */
:root{

  /* colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  --color-white: #fff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* size */

  --size-max-width: 1200px;
}

* {
  box-sizing: border-box; /* 각 요소의 넓이를 직관적으로 확인하도록 패딩과 보더를 콘텐츠 넓이에 포함시킴 */ 
  
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2, h3, p, ul{
  margin: 0;
}

ul{
  list-style: none; /* 점 목록 제거 */
  padding: 0; /* 점 목록에 존재했던 왼쪽 패딩 제거 */
}

a{
  text-decoration: none;
  color: var(--color-text);
}

button{
  background-color: transparent;
  outline: 0; /* 포커스 된 상태에서 나타나는 기본적인 외곽선 제거 */
  border: 0;
}

button:focus{
  outline: 1px solid var(--color-accent);
}

/* common (공통적으로 적용되는 태그들의 속성)*/
.section{
  padding: 4rem;
  text-align: center;
}
.title{
  font-size: 2.5rem;
  margin: 2rem 0;
}
.description{
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.max-container{
  max-width: var(--size-max-width); /* 각 섹션들의 최대 넓이를 1200px(--size-max-width)로 설정 */
  margin: auto; /* 각 섹션마다 마진을 auto로 주면서 해당 영역을 가운데 배치시킴 */
  
}

/* header */
.header{
  background-color: var(--color-black);
  color: var(--color-text);
  position: fixed; /* 뷰포트 최상단에 위치 */
  top:0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo{
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__logo__img{
   width: 32px;
   height: 32px;
}
.header__logo__title{
  font-size: 1.8rem; /* 기본적으로 설정되어 있는 브라우저의 기본 폰트 사이즈의 1.8배 크기 */ 
}

.header__menu{
  display: flex;
  gap: 4px;
}
.header__menu__item{
  padding: 8px 16px;
}

.header__menu__item:hover{
  border-bottom: 1px solid var(--color-blue);
}

.header__menu__item.active{
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

/* home */
#home{
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
}

.home__avatar{
  width: 250px;
  height: 250px;
  object-fit: cover; /* 이미지가 깨졌을 때 원래 비율을 유지(cover)*/
  border: 3px solid var(--color-accent);
  border-radius: 100%;
}
.home__title{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home__title--strong{
  color: var(--color-accent);
}
.home__description{
  font-size: 1.3rem;
}
.home__contact__button{
  display: inline-block; /* a 태그는 inline 속성이라 마진을 주어도 적용이 안되서 display를 inline_block으로 설정하여 마진 적용*/
  background-color: var(--color-accent);
  color: var(--color-black);
  padding: 0.5rem 1rem;
  margin: 2rem;
  font-weight: bold;
  border-radius: 4px;
}
.home__contact__button:hover{
  background-color: transparent;
  outline: 2px solid var(--color-accent); /* border를 주지 않는 이유는, 버튼 자체에 height 속성을 주지 않아서 기본적인 텍스트의 크기를 유지하고 있다가, hover 되었을 때 적용되는 border의 크기가 들어오기 때문에 그 만큼 컨텐츠가 밀림. 그래서 outline을 줌으로서 외부를 밀지 않고 겹치도록 윤곽선을 주는 것임.*/
  color: var(--color-text);
}

/* about */
.majors{
  display: flex;
  justify-content: space-between ;
  gap: 1rem;
  margin: 2.5rem 0;
}
.major{
  background-color: var(--color-primary-variant);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: default;
  box-shadow: 0px 10px 1px rgba(221, 221, 221, 1), 0 10px 20px rgba(204, 204, 204, 1); /* https://manuarora.in/boxshadows 에서 추출 */
  
}
.major__icon{
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent);
  transition: all 300ms ease;
}
.major__icon:hover{
  transform: rotate(-15deg) scale(1.2);
}
.major-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.jobs{
  text-align: start ;
}

.job{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}
.job__name{
  color: var(--color-primary);
}

.job__period{
  color: var(--color-primary);
  font-size: 0.8rem;
}